<div class="w-full h-full flex pt-20 lg:pt-24 z-0 p-4">
  <div class="flex justify-between">
    <div class="w-full"></div>
    <div class="flex flex-col justify-between">
      <div></div>
      Mahika as a National Private Company operates in the field of Technical
      Consulting and Licensing Services which is active at the National and
      International Level.Producing quality consulting services products and being
      able to provide solutions accurately, quickly and technically to build a
      virtuous civilization
    </div>
  </div>
</div>
