<div class="w-full h-full flex items-center justify-between flex-col gap-4 pt-20 lg:pt-24 p-4 -z-0">
  <div class="flex w-full gap-5">
    <div class="w-[100rem] h-[20rem]" style="background-image: url(/assets/images/arif_mahika.png); background-size: contain; background-repeat: no-repeat;"></div>
    <div class="flex flex-col">
      <h1>Arif Hanif Hidayat S.T.,M.T</h1>
      <code>CEO</code>
      <div class="text-balance">
         Indonesian citizen. Born on April 11, 1990 in Indramayu Regency. The education taken is a Bachelor of Geological Engineering from Jenderal Soedirman University (Year 2012). And managed to get a Master's degree in Engineering Geological Engineering from the Bandung Institute of Technology (2021), Jr. Career. Geotechnical Geologist at Harum Energi, Geotechnical Engineer, Head of Mining Engineering at several locations in West Java. Geologists for several work packages at the Ministry of PUPR and ESDM, KLHK and in 2020 decided to establish a company (Mahika) with his colleague who is one of the Lecturers of Electrical Engineering at ITB and the founder of PT ADEIN, the concession holder of several hydropower plants in Indonesia.

      </div>
    </div>

  </div>
</div>
