<div class="w-full h-full flex items-center justify-between flex-col gap-4 pt-24 p-4 -z-0">
  <div class="flex gap-5">
    <div class="flex w-full flex-col">
      <h1 class="text-3xl font-extrabold text-center lg:text-end w-full mb-5 text-[#5f120b]">ABOUT US</h1>
      <p class="text-wrap text-sm lg:text-3xl font-light text-center lg:text-right"
        >PT Mahika Tjipta Abadi (MTA) is a consulting company engaged in
        engineering services, licensing services for mining and environmental
        pre-feasibility studies, feasibility studies and detailed engineering
        design in the field of road and bridge transportation and other civil
        engineering fields which was founded in 2020. Since 2020 until now, many
        jobs have been entrusted to Mahika, both in the field of company
        licensing services for mining and mapping studies, geology,
        geotechnical, hydroelectric power plants and roads, bridges, ports and
        dams, irrigation and in 2022 they will be entrusted to study
        pre-feasibility study for an Immersed Tunnel in the Indonesian new
        capital with a consortium from South Korea and the Netherlands.
      </p>
    </div>
    <div class="flex flex-col lg:min-w-[40%] max-w-full lg:max-w-[40%] max-h-full gap-2">
      <div class="flex flex-col gap-2 mt-20">
        <div class="absolute right-10 -z-10">
          <img
            src="/assets/images/img-1.png"
            alt="img-1"
            class="w-auto h-[20rem] mt-32"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="flex gap-5">
    <div class="flex flex-col gap-2 mt-28 mb-20">
      <div class="flex justify-center items-center">
        <img src="/assets/icons/dq.svg" alt="q1" class="absolute w-[10rem] lg:w-[14rem] -z-10 left-10 lg:left-36 -mt-32"/>
        <p class="text-wrap text-center text-2xl lg:text-4xl font-semibold max-w-[60%] text-[#5f120b]"
          >Become a National Consultant based on high technology, excellence and
          the principle of Together We Grow.
        </p>
      </div>
    </div>
  </div>
</div>
