<div class="fixed top-0 max-w-[100vw] z-10">
  <div class="relative w-[100vw] h-24 bg-[#fefefe] flex justify-between py-4 px-4">
    <img src="/assets/images/mahika-color.jpg" alt="logo"/>
    <div class="hidden md:flex gap-4 items-center text-xl text-[#5f120b] z-10">
      <a href="#home" class="hover:bg-[#5f120b]/90 min-w-[100px] p-2 text-center hover:text-white rounded-lg">Home</a>
      <a href="#about" class="hover:bg-[#5f120b]/90 min-w-[100px] p-2 text-center hover:text-white rounded-lg">About</a>
      <a href="#service" class="hover:bg-[#5f120b]/90 min-w-[100px] p-2 text-center hover:text-white rounded-lg">Service</a>
      <a href="#teams" class="hover:bg-[#5f120b]/90 min-w-[100px] p-2 text-center hover:text-white rounded-lg">Teams</a>
      <a href="#contact" class="hover:bg-[#5f120b]/90 min-w-[100px] p-2 text-center hover:text-white rounded-lg">Contact</a>
    </div>
    <div class="flex md:hidden items-center">
      <button class="border-0 border-[#5f120b] h-12 w-12">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="#5f120b" className="size-6">
          <path strokeLinecap="round" strokeLinejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
    <div class="hidden md:block absolute -top-4 right-0 z-0">
      <img src="/assets/images/head1.png" alt="head" height="120px" width="150px"/>
    </div>
  </div>
</div>
